*.swp
*.o
*.symvers
*.order
*.ko
*.cmd
*.mod.c
*.cache.mk
*.cproject
*.project
*.dwo
*.sh
/DTS-OrangePiOne/*
!/DTS/leds-blink.dtsi
!/DTS/sun8i-h3-orangepi-one.dts
/.tmp_versions
/arch-include
/include
/.settings
/.tracecompass
